.career {
  height: fit-content;
  width: 100vw;
  padding: 2rem;
  background-color: $secondary-background-color;
  @include universal-flex-display(center, center);

  &-container {
    height: 100%;
    width: 100%;
    @include universal-flex-display(space-between, center);
    flex-direction: column;

    & .title-container {
      width: 100%;
      margin-bottom: 4rem;
      & h1 {
        font-size: clamp(2rem, 5.5vw, 6rem);
        margin-bottom: 2rem;
        text-align: center;
      }
      & h2 {
        font-size: clamp(1rem, 2.5vw, 2rem);
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    & .movies-container {
      height: fit-content;
      width: 100%;
      display: grid;
      gap: 7rem 4rem;
      grid-template-columns: 1fr 1fr;

      & .movie {
        @include universal-flex-display(center, center);
        flex-direction: column;

        & img {
          border-radius: 15px;
          height: 300px;
          width: 300px;
        }

        & h1 {
          font-size: clamp(1rem, 2.5vw, 2rem);
          margin: 1rem 0;
        }

        & p {
          font-size: clamp(0.8rem, 2.5vw, 1.2rem);
        }
      }
    }
  }
}

@include media-700 {
  .career .movies-container {
    row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}
