@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif+Display&family=Nunito+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  font-family: "Noto Serif Display", serif;
  font-family: "Nunito Sans", sans-serif;
  color: rgba(156, 141, 121, 0.863);
  background-color: black;
}

.home {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-120deg, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.966), black), url("/public/images.jpeg") no-repeat fixed right;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  height: 100%;
  width: clamp(200px, 50%, 800px);
  padding: 1rem;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-container h1 {
  font-size: clamp(1.4rem, 2.5vw, 5rem);
  margin-bottom: 3rem;
}

.header-container blockquote {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.header-container p {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 700px) {
  header {
    background: linear-gradient(-120deg, rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.836), black), url("/public/images.jpeg") fixed center;
  }
  header .header-container {
    width: 100%;
    background: transparent;
    padding: 2rem;
  }
}

.biography {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.biography .biography-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.biography .biography-container .title-container {
  width: 100%;
  margin-bottom: 6rem;
}

.biography .biography-container .title-container h1 {
  font-size: clamp(2.5rem, 8.5vw, 6rem);
  text-align: center;
}

.biography .biography-container .biography-text-container {
  width: clamp(300px, 90%, 1000px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.biography .biography-container .biography-text-container p {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin: 3rem;
}

.career {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 4rem 2rem;
  background-color: rgba(117, 63, 32, 0.404);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.career-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career-container .title-container {
  width: 100%;
  margin-bottom: 4rem;
}

.career-container .title-container h1 {
  font-size: clamp(2rem, 5.5vw, 6rem);
  margin-bottom: 2rem;
  text-align: center;
}

.career-container .title-container h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-bottom: 2rem;
  text-align: center;
}

.career-container .movies-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 7rem 4rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.career-container .movies-container .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career-container .movies-container .movie img {
  border-radius: 15px;
  height: clamp(200px, 80%, 400px);
  width: clamp(300px, 80%, 800px);
}

.career-container .movies-container .movie h1 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin: 1rem 0;
}

.career-container .movies-container .movie p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

@media screen and (max-width: 700px) {
  .career .movies-container {
    row-gap: 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
